:root {
    --color1: rgba(2, 38, 49, 1);
    --color2: rgba(134, 3, 5, 1);
    --color3: rgba(11, 194, 211, 0.623);
    --fondo: #f2f2f2;
    --titulos: 230%;
    --subtitulos: 110%;
    --margenes: 60px;
    --espacios: 10px;
    --espacios-contenido: 45px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
    background-color: #E7E7E7;
}

img {
    vertical-align: top;
}


/* Preloader */

.hidden {
    overflow: hidden;
}

.centrado {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #000;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: #cef;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 6px;
        height: 51px;
    }
    50%,
    100% {
        top: 19px;
        height: 26px;
    }
}


/* Header */

header {
    width: 100%;
    height: 600px;
    background: linear-gradient(to bottom, rgba(9, 0, 1, .75), rgba(38, 106, 155, .75), rgba(240, 82, 80, .8)), url(img/cabecera.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

nav {
    width: 100%;
    position: fixed;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5)
}

.nav1 {
    background: transparent;
    height: 80px;
    color: #fff;
}

.nav2 {
    background: var(--fondo);
    height: 100px;
    color: #000;
}

.contenedor-nav {
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    height: inherit;
    overflow: hidden;
}

nav .enlaces a {
    display: inline-block;
    padding: 5px 0;
    margin-right: 17px;
    font-size: 17px;
    font-weight: 300;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    color: inherit;
}

nav .enlaces a:hover {
    border-bottom: 3px solid #1498a4;
    transition: 0.6s;
}

.logo,
.logo img {
    height: 80px;
}

.icono {
    display: none;
    font-size: 24px;
    padding: 23.5px 20px;
}

.textos {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
    overflow: hidden;
    text-align: center;
}

.textos>h1 {
    font-size: 80px;
    ;
}

.textos>h2 {
    font-size: 42px;
    font-weight: 300;
}

header .titulo {
    font-size: 85px;
}

header .subtitulo {
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 32px;
}

header .boton {
    display: inline-block;
    padding: 6px;
    width: 128px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 19px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    background: rgba(0, 0, 0, .3);
}


/* Main */

.sobre-nosotros {
    text-align: center;
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 600;
}

.parrafo {
    margin-bottom: 13px;
    font-size: 40px;
    font-weight: 300;
    text-align: justify;
    line-height: 24px;
    color: rgb(24, 16, 16);
    text-align: left;
}

.acerca-de .boton {
    display: inline-block;
    padding: 6px;
    width: 128px;
    font-weight: 300;
    border: 1px solid var(--color2);
    color: var(--color1);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    margin-top: 5px;
    margin-left: 10px;
}

.contenedor {
    margin: auto;
    padding: var(--margenes) 0;
    width: 90%;
    max-width: 1000px;
    text-align: center;
    overflow: hidden;
}

.contenedor h3 {
    font-size: var(--titulos);
    color: var(--color1);
    margin-bottom: var(--espacios);
}

.contenedor p {
    font-size: var(--subtitulos);
    font-weight: 300;
    color: var(--color1);
    text-align: justify;
}

.after::after {
    content: '';
    display: block;
    margin: auto;
    margin-top: var(--espacios);
    width: 200px;
    height: 2px;
    background: var(--color1);
    margin-bottom: var(--espacios-contenido);
}

.card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content-card {
    width: 31%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    overflow: hidden;
    height: 400px;
}

.trabajo {
    height: 80%;
}

.content-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto-team {
    height: 20%;
    width: 100%;
    padding: var(--espacios) 0;
}

.about {
    background: linear-gradient(to bottom, rgba(222, 235, 240, .4), rgba(222, 235, 240, .4), rgba(222, 235, 240, .4)), url(img/contacto.jpg);
    height: auto;
}

.servicios {
    display: flex;
    color: rgb(24, 16, 16);
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
}

.caja-servicios {
    width: 30%;
    margin: auto;
    text-align: center;
}

.about h4 {
    color: #100554;
    font-weight: bold;
}

.caja-servicios>h4 {
    margin-bottom: var(--espacios);
}

.caja-servicios>p {
    text-align: center;
}

.drive {
    margin-top: 50px;
}

.botones-work {
    overflow: hidden;
}

.botones-work li {
    display: inline-block;
    text-align: center;
    margin-left: var(--espacios);
    margin-bottom: var(--espacios-contenido);
    padding: 6px 12px;
    border: 1px solid var(--color1);
    list-style: none;
    color: var(--color1);
}

.botones-work li:hover {
    background: var(--color2);
    color: #fff;
    cursor: pointer;
}

.botones-work .active {
    background: var(--color1);
    color: #fff;
}

.galeria-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cont-work {
    width: 31%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    height: 300px;
    overflow: hidden;
    margin-bottom: var(--espacios-contenido);
}

.img-work {
    height: 90%;
    width: 100%;
}

.img-work img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.textos-work {
    height: 10%;
}

.textos-work h4 {
    line-height: 30px;
    font-weight: 300;
}

.boton {
    display: inline-block;
    padding: 6px;
    width: 128px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 19px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    background: rgba(0, 0, 0, .3);
}


/* Footer */

footer {
    background: linear-gradient(to bottom, rgba(9, 0, 1, .6), rgba(9, 0, 1, .6), rgba(9, 0, 1, .7)), url(img/contacto.jpg);
}

.titulo-footer,
.subtitulo-footer {
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 56px;
}

.subtitulo-footer {
    font-size: 16px;
    margin-bottom: 64px;
    font-size: 18px;
}

form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}

input[type="text"],
input[type="email"] {
    display: inline-block;
    width: 48%;
    padding: 13px;
    border: none;
    color: #fff;
    font-family: 'open sans';
    background: rgba(1, 2, 11, .7);
    margin-bottom: 16px;
    border-top: 5px solid rgba(37, 37, 33, .7);
    font-size: 20px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-top: 5px solid rgba(255, 255, 255, 0.7);
}

textarea {
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    max-height: 200px;
    min-height: 200px;
    background: rgba(1, 2, 11, .7);
    padding: 13px;
    border: none;
    color: #fff;
    font-family: 'open sans';
    margin-bottom: 16px;
    font-size: 20px;
}

input[type="submit"] {
    display: inline-block;
    padding: 13px;
    border: none;
    color: #fff;
    background: rgba(1, 2, 11, 1);
    width: 96px;
    font-size: 15px;
}

input[type="submit"]:hover {
    background-color: rgba(127, 24, 16, .8);
}

.cuestionario {
    display: inline-block;
    width: 100%;
    padding: 13px;
    border: none;
    color: #fff;
    font: 18px black;
    font-family: 'open sans';
    background: rgba(1, 2, 11, .7);
    margin-bottom: 16px;
    border-top: 5px solid rgba(37, 37, 33, .7);
    font-size: 20px;
}

option disabled {
    color: black;
}

.marca-logo {
    width: 40%;
    margin: auto;
    margin-bottom: var(--espacios);
}

.marca-logo img {
    width: 100%;
}

.iconos {
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 100%;
    margin-top: 40px;
}

.fab {
    font-size: 60px;
    color: #FFF;
    margin-bottom: var(--espacios);
    display: inline-block;
}

.fab:hover {
    color: rgba(127, 24, 16, .8);
}

footer p {
    margin-top: var(--espacios);
}

.creditos {
    color: #fff;
    margin-top: 40px;
}

@media screen and (max-width: 835px) {
    .nav2 {
        color: #fff;
    }
    .icono {
        display: block;
        cursor: pointer;
    }
    .enlaces {
        position: fixed;
        top: 80px;
        background: #2c3e50;
        left: 0;
        height: 100%;
        transition: 1s;
        width: 0;
        overflow: hidden;
    }
    .enlaces a {
        display: block;
        width: 100%;
        height: 50px;
        padding: 20px;
        text-align: center;
        background: #34495e;
        color: #fff;
    }
    .textos>h1 {
        font-size: 70px;
    }
    .textos>h2 {
        font-size: 35px;
    }
    .content-card {
        width: 48%;
        margin-bottom: var(--margenes);
    }
     :root {
        --margenes: 30px;
    }
}

@media screen and (max-width: 500px) {
     :root {
        --espacios-contenido: 25px;
    }
    .content-card {
        width: 90%;
    }
    .caja-servicios {
        width: 90%;
        margin-bottom: var(--margenes);
    }
    .cont-work {
        width: 85%;
    }
    .marca-logo {
        width: 80%;
    }
    .iconos {
        margin: auto;
    }
}